header {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--color-neutral);
  background-size: cover;
  background-position: center;
  background-image: url("https://raw.githubusercontent.com/devnacer/Concours-8-Developpement-creatif/my-website/images/marseille-12.jpg");
  
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 900px;
  padding: 20px;
}

video {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.6);
}

.header-content h1 {
  z-index: 3;
  font-family: "Nova Oval", cursive;
  font-size: 80px;
  font-weight: bold;
  margin-bottom: 40px;
  margin-top: 100px;
  color: var(--color-neutral);
  animation: bounce 1s infinite;
  opacity: 0; /*animation */
  transform: translateY(-50px); /*animation */
  animation: apparition 0.4s 0.4s ease-out forwards, bounce 2s infinite; /*animation */
}

.slogan {
  z-index: 3;
  font-size: 24px;
  margin-bottom: 40px;
  opacity: 0; /*animation */
  transform: translateY(50px); /*animation */
  animation: apparition 0.4s 0.6s ease-out forwards; /*animation */
}

.header-content p {
  z-index: 3;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 40px;
  opacity: 0; /*animation */
  transform: translateY(50px); /*animation */
  animation: apparition 0.4s 0.7s ease-out forwards; /*animation */
}

.cta-button-header {
  display: inline-block;
  padding: 12px 24px;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  background-color: var(--color-accent);
  color: var(--color-neutral);
  border-radius: 4px;
  transition: background-color 0.3s ease;
  z-index: 3;
  opacity: 0; /*animation */
  transform: translateY(50px); /*animation */
  animation: apparition 0.4s 0.9s ease-out forwards; /*animation */
}

.cta-button-header:hover {
  background-color: var(--color-primary);
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

@media screen and (max-width: 1000px) {
  .header-content h1 {
    font-size: 68px;
  }
  .slogan {
    font-size: 20px;
  }
  .header-content p {
    font-size: 18px;
  }
}

@media screen and (max-width: 650px) {
  .header-content h1 {
    font-size: 40px;
  }
  .slogan {
    font-size: 18px;
  }
  .header-content p {
    font-size: 16px;
  }
}
